@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Rumo ao Hexa</h1>

    <p><img class="cs-img"
            src="https://conteudo.imguol.com.br/c/esporte/6e/2022/11/24/richarlison-acerta-lindo-voleio-e-marca-para-a-selecao-contra-a-servia-pela-copa-do-mundo-do-qatar-1669322787538_v2_450x450.jpg"
            alt=""></p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>



</div>
